#Author : SHANTHINI M K

#Import required libraries

In [1]:
import pandas as pd
import numpy as np

#Read the data

In [3]:
sf_permits = pd.read_csv("/content/Building_Permits.csv")
np.random.seed(0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Look at the first five rows of the sf_permits file.

In [4]:
sf_permits.head()

  Permit Number  ...      Record ID
0  201505065519  ...  1380611233945
1  201604195146  ...  1420164406718
2  201605278609  ...  1424856504716
3  201611072166  ...  1443574295566
4  201611283529  ...   144548169992

[5 rows x 43 columns]

In [5]:
sf_permits.describe()

         Permit Type  Street Number  ...        Zipcode     Record ID
count  198900.000000  198900.000000  ...  197184.000000  1.989000e+05
mean        7.522323    1121.728944  ...   94115.500558  1.162048e+12
std         1.457451    1135.768948  ...       9.270131  4.918215e+11
min         1.000000       0.000000  ...   94102.000000  1.293532e+10
25%         8.000000     235.000000  ...   94109.000000  1.308567e+12
50%         8.000000     710.000000  ...   94114.000000  1.371840e+12
75%         8.000000    1700.000000  ...   94122.000000  1.435000e+12
max         8.000000    8400.000000  ...   94158.000000  1.498342e+12

[8 rows x 15 columns]

In [6]:
sf_permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB

# Get the number of missing data points per column

In [7]:
missing_values_count = sf_permits.isnull().sum()

#Percentage of total missing data

In [8]:

total_cells = np.product(sf_permits.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

26.26002315058403

#Missing points in the first ten columns

In [9]:
missing_values_count[0:10]

Permit Number                  0
Permit Type                    0
Permit Type Definition         0
Permit Creation Date           0
Block                          0
Lot                            0
Street Number                  0
Street Number Suffix      196684
Street Name                    0
Street Suffix               2768
dtype: int64

#Drop missing values

In [10]:
sf_permits.dropna()

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

# Remove all columns with at least one missing value

In [11]:
columns_with_na_dropped = sf_permits.dropna(axis=1)
columns_with_na_dropped.head()

  Permit Number  Permit Type  ...  Filed Date      Record ID
0  201505065519            4  ...  05/06/2015  1380611233945
1  201604195146            4  ...  04/19/2016  1420164406718
2  201605278609            3  ...  05/27/2016  1424856504716
3  201611072166            8  ...  11/07/2016  1443574295566
4  201611283529            6  ...  11/28/2016   144548169992

[5 rows x 12 columns]

In [12]:
print("Columns in original dataset: %d \n" % sf_permits.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 43

Columns with na's dropped: 12

#Filling in missing values automatically

In [17]:
# get a small subset of the SF_PERMITS dataset
subset_sf_permits = sf_permits.iloc[:, 10:21].head()
subset_sf_permits

   Unit Unit Suffix  ... Structural Notification Number of Existing Stories
0   NaN         NaN  ...                     NaN                        6.0
1   0.0         NaN  ...                     NaN                        7.0
2   NaN         NaN  ...                     NaN                        6.0
3   0.0         NaN  ...                     NaN                        2.0
4   NaN         NaN  ...                     NaN                        3.0

[5 rows x 11 columns]

In [18]:
# replace all NA's with 0
subset_sf_permits.fillna(0)

   Unit  Unit Suffix  ... Structural Notification Number of Existing Stories
0   0.0            0  ...                       0                        6.0
1   0.0            0  ...                       0                        7.0
2   0.0            0  ...                       0                        6.0
3   0.0            0  ...                       0                        2.0
4   0.0            0  ...                       0                        3.0

[5 rows x 11 columns]

In [19]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_sf_permits.fillna(method='bfill', axis=0).fillna(0)

   Unit  Unit Suffix  ... Structural Notification Number of Existing Stories
0   0.0          0.0  ...                     0.0                        6.0
1   0.0          0.0  ...                     0.0                        7.0
2   0.0          0.0  ...                     0.0                        6.0
3   0.0          0.0  ...                     0.0                        2.0
4   0.0          0.0  ...                     0.0                        3.0

[5 rows x 11 columns]